.topbar {
    background: #26292e;
}   

@media (max-width: 426px) {
    .topbar {
        padding: 10px 0;
    }
}
   
.logo a {
    color: #fefefd;
    font-family: 'Butterfly Kids', cursive;
    list-style: none;
    text-transform: capitalize;
    text-decoration: none;
}



.socialmedia ul {
    list-style: none;
    text-align: right;
}

.socialmedia li {
    display: inline;
}

.socialmedia a {
    color: #fefefd;
    font-size: 25px;
}
 
@media (max-width: 768px) {
    .logo a {
        font-size: 40px;
    }
}
@media (max-width: 425px) {
    .logo a {
        font-size: 35px;
    }
}
@media (max-width: 375px) {
    .logo a {
        font-size: 30px;
    }
}
.hero {
    background: linear-gradient(#f896ab, #e7718b);
    color: white;
    padding: 15px 0;
}


.hero h2 {
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 425px) {
    .hero h2 {
        text-align: center;
    }
}

@media (min-width: 1023px) {
    .hero img {
        padding-left: 80px;
    }
}

.btn-hero {
    background: #555453;
    text-transform: capitalize;
    color: #fefefd;
    padding: 3px 14px;
}

.primarycontentwrapper {
    background: #f4f4f6;
    padding: 20px 0;
    border-bottom: 5px solid #f3829abe;
}


.secondarycontent {
    padding-top: 25px;
}

.secondarycontent h2 {
    color: #444444;
    font-size: 25px;
}

@media (max-width: 769px) {
    .secondarycontent h2 {
        border-left: 5px solid #e7718b;
        padding-left: 5px;
    }
}

@media (min-width: 767px) {
    .images img {
        padding-top: 20px;
    }
}

.smallshowmore {
    background: #555453;
    text-transform: capitalize;
    color: #fefefd;
    padding: 3px 14px;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 8px;
}

.secondarycontent p {
    color: #a7a7a8;
    padding-bottom: 25px;
}


.john {
    color: #444444;
    text-transform: capitalize;
    font-weight: bold;
}
.images{
    padding-top: 55px;
}

@media (min-width: 1023px) {
    .images {
        padding-top: 36px;
    }
}

/*.quotes {
    color: #44444400;
    font-size: 150px;
    margin-bottom: 35px;
}*/


.imagesinfo {
    padding-top: 10px;
}

footer {
    background: #26292e;
    color: #fefefd;
}

.socialmediabottom ul {
    list-style: none;
    text-align: right;
    padding: 0;
}

@media (max-width: 426px) {
    .socialmediabottom ul {
        margin-top: 10px;
    }
}

.socialmediabottom li {
    display: inline;
}

.socialmediabottom a {
    color: #fefefd;
    font-size: 25px;
    margin-top: 20px;
    padding-left: 5px;
}

.copyright {
    padding-top: 20px;
    text-align: left;
}


@media (max-width: 768px) {
    .copyright {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .copyright {
        margin-top: 2px;
    }
}










